@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9000%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9000%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9000%);
  --primary: hsl(240 5.9000% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8000% 95.9000%);
  --secondary-foreground: hsl(240 5.9000% 10%);
  --muted: hsl(240 4.8000% 95.9000%);
  --muted-foreground: hsl(240 3.8000% 46.1000%);
  --accent: hsl(240 4.8000% 95.9000%);
  --accent-foreground: hsl(240 5.9000% 10%);
  --destructive: hsl(0 84.2000% 60.2000%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9000% 90%);
  --input: hsl(240 5.9000% 90%);
  --ring: hsl(240 5.9000% 10%);
  --chart-1: hsl(190 50% 60%);
  --chart-2: hsl(30 80% 70%);
  --chart-3: hsl(120 40% 50%);
  --chart-4: hsl(270 60% 70%);
  --chart-5: hsl(45 90% 60%);
  --sidebar: hsl(0 0% 100%);
  --sidebar-foreground: hsl(240 10% 3.9000%);
  --sidebar-primary: hsl(240 5.9000% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8000% 95.9000%);
  --sidebar-accent-foreground: hsl(240 5.9000% 10%);
  --sidebar-border: hsl(240 5.9000% 90%);
  --sidebar-ring: hsl(240 5.9000% 10%);
  --font-sans: "Playfair Display", serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(240, 5.9%, 10%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.05), 0px 1px 2px -1px hsl(240 5.9000% 10% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.05), 0px 1px 2px -1px hsl(240 5.9000% 10% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.05), 0px 2px 4px -1px hsl(240 5.9000% 10% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.05), 0px 4px 6px -1px hsl(240 5.9000% 10% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.05), 0px 8px 10px -1px hsl(240 5.9000% 10% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(240 10% 3.9000%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9000%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9000%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9000% 10%);
  --secondary: hsl(240 3.7000% 15.9000%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7000% 15.9000%);
  --muted-foreground: hsl(240 5% 64.9000%);
  --accent: hsl(240 3.7000% 15.9000%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8000% 30.6000%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 3.7000% 15.9000%);
  --input: hsl(240 3.7000% 15.9000%);
  --ring: hsl(240 4.9000% 83.9000%);
  --chart-1: hsl(190 50% 60%);
  --chart-2: hsl(30 80% 70%);
  --chart-3: hsl(120 40% 50%);
  --chart-4: hsl(270 60% 70%);
  --chart-5: hsl(45 90% 60%);
  --sidebar: hsl(240 10% 3.9000%);
  --sidebar-foreground: hsl(0 0% 98%);
  --sidebar-primary: hsl(0 0% 98%);
  --sidebar-primary-foreground: hsl(240 5.9000% 10%);
  --sidebar-accent: hsl(240 3.7000% 15.9000%);
  --sidebar-accent-foreground: hsl(0 0% 98%);
  --sidebar-border: hsl(240 3.7000% 15.9000%);
  --sidebar-ring: hsl(240 4.9000% 83.9000%);
  --font-sans: "Playfair Display", serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(240, 5.9%, 10%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.25);
  --shadow-xs: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.25);
  --shadow-sm: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.50), 0px 1px 2px -1px hsl(240 5.9000% 10% / 0.50);
  --shadow: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.50), 0px 1px 2px -1px hsl(240 5.9000% 10% / 0.50);
  --shadow-md: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.50), 0px 2px 4px -1px hsl(240 5.9000% 10% / 0.50);
  --shadow-lg: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.50), 0px 4px 6px -1px hsl(240 5.9000% 10% / 0.50);
  --shadow-xl: 0px 4px 10px 0px hsl(240 5.9000% 10% / 0.50), 0px 8px 10px -1px hsl(240 5.9000% 10% / 0.50);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 5.9000% 10% / 1.25);
}

html,
body,
:root {
  height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}